.home {
  // STYLE: header
  &__header {
    height: 90vh;
    // STYLE: wave
    position: relative;
    &-wave {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      overflow: hidden;
      line-height: 0;
      svg {
        position: relative;
        display: block;
        width: calc(100% + 1.3px);
        height: 116px;
      }
      .shape-fill {
        fill: $bgColor;
      }
    }
    &-img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    &-overlay {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: linear-gradient(to right, $bgColor, #0b041eaf);
      z-index: 2;
      opacity: 1;
    }
    &-appgain {
      position: absolute;
      left: 5%;
      top: 15%;
      z-index: 5;
      color: $mainColor;
      text-transform: capitalize;
      font-size: 6rem !important;
      span {
        color: $logo-mainColor;
      }
    }
  }
}

@media screen and (min-width: 720px) {
  .home {
    &__header {
      &-appgain {
        font-size: 9rem !important;
      }
    }
  }
}
