.movies {
  padding: 5rem 0;
  &__header {
    h5 {
      font-weight: 600;
      span {
        font-weight: 100;
      }
    }
    margin-bottom: 6rem;
  }

  &__content {
    // padding: 0 3rem;
    padding: 0 1rem;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(10rem, 1fr));
    grid-gap: 2rem;
    .movie {
      border-radius: 1rem;
      overflow: hidden;
      box-shadow: 0.5rem 0.5rem 1rem rgba(0, 0, 0, 0.593);
      transition: all 0.25s ease-in-out;
      cursor: pointer;
      &__img {
        width: 100%;
        // height: 30rem;
        height: 20rem;
        object-fit: cover;
        margin-bottom: 1rem;
        filter: grayscale(0.5);
        overflow: hidden;
      }

      &__txt {
        padding: 2rem 1rem;

        &-title {
          font-weight: 300;
          margin-bottom: 1rem;
          font-size: 1.5rem !important;
        }

        &-rate {
          display: flex;
          font-size: 0.9rem;
          margin-bottom: 1rem;
          div {
            margin-right: 1rem;
          }
        }

        &-date {
          opacity: 0.8;
          p {
            font-size: 1rem !important;
            font-style: italic;
            font-weight: 300;
            text-align: end;
            color: rgb(183, 183, 183);
          }
        }
      }

      &:hover {
        opacity: 0.3;
        transform: translateY(-0.5rem);
        box-shadow: 0.8rem 0.8rem 1rem rgba(0, 0, 0, 0.593);
      }
    }
  }
  &__buttons {
    margin: 4rem 6rem;
    margin-top: 8rem;
    display: flex;
    align-items: center;
    justify-content: center;
    &-btn {
      width: 5rem;
      height: 5rem;
      border: 0.1rem solid $mainColor;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 50%;
      cursor: pointer;
      transition: all 0.3s ease-in-out;
      span {
        font-size: 2rem;
      }
      &:hover {
        background-color: $mainColor;
        color: $bgColor;
      }
      &:first-of-type {
        margin-right: 2rem;
      }
    }
  }
}

.star__opacity {
  opacity: 0.2;
}

@media screen and (min-width: 375px) {
  .movies {
    &__content {
      grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
    }
  }
}
@media screen and (min-width: 720px) {
  .movies {
    &__content {
      grid-template-columns: repeat(auto-fill, minmax(25rem, 1fr));
      padding: 0 3rem;

      .movie {
        &__img {
          height: 30rem;
        }
        &__txt {
          &-title {
            font-size: 2rem !important;
          }
          &-date {
            p {
              font-size: 1.4rem !important;
            }
          }
        }
      }
    }
  }
}
