.movies {
  padding: 5rem 0;
  &__header {
    h5 {
      font-weight: 600;
      span {
        font-weight: 100;
      }
    }
    margin-bottom: 6rem;
  }

  &__content {
    padding: 0 3rem;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(25rem, 1fr));
    grid-gap: 4rem;
    .movie {
      border-radius: 1rem;
      overflow: hidden;
      box-shadow: 0.5rem 0.5rem 1rem rgba(0, 0, 0, 0.593);
      transition: all 0.25s ease-in-out;
      cursor: pointer;
      &__img {
        width: 100%;
        height: 30rem;
        object-fit: cover;
        margin-bottom: 1rem;
        filter: grayscale(0.5);
        overflow: hidden;
      }

      &__txt {
        padding: 2rem 1rem;

        &-title {
          font-weight: 300;
          margin-bottom: 1rem;
        }

        &-rate {
          display: flex;
          div {
            margin-right: 1rem;
          }
        }

        &-date {
          opacity: 0.8;
          p {
            font-size: 1.4rem !important;
            font-style: italic;
            font-weight: 300;
            text-align: end;
            color: rgb(183, 183, 183);
          }
        }
      }

      &:hover {
        opacity: 0.3;
        transform: translateY(-0.5rem);
        box-shadow: 0.8rem 0.8rem 1rem rgba(0, 0, 0, 0.593);
      }
    }
  }
  &__buttons {
    margin: 4rem 6rem;
    margin-top: 8rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
    &-btn {
      width: 5rem;
      height: 5rem;
      border: 0.1rem solid $mainColor;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 50%;
      cursor: pointer;
      transition: all 0.3s ease-in-out;
      span {
        font-size: 2rem;
      }
      &:hover {
        background-color: $mainColor;
        color: $bgColor;
      }
    }
  }
}

.star__opacity {
  opacity: 0.2;
}

.loading {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: $bgColor;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
  font-weight: 300;
  z-index: 5;

  .loader {
    width: 84px;
    height: 84px;
    position: relative;
  }
  .loader:before,
  .loader:after {
    content: "";
    position: absolute;
    right: 0;
    top: 0;
    width: 84px;
    height: 84px;
    border-radius: 50%;
    background: $mainColor;
    animation: push 1s infinite linear alternate;
  }
  .loader:after {
    top: auto;
    bottom: 0;
    left: 0;
    background: #fff;
    animation-direction: alternate-reverse;
  }
  @keyframes push {
    0% {
      width: 14px;
      height: 14px;
    }
    100% {
      width: 84px;
      height: 84px;
    }
  }
}
